@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100vh;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  min-height: 64px;
  padding: 0 70px;
  z-index: 1;
}

.welcome-figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  width: 1060px;
}

.logo {
  width: 140px;
  height: 70px;
  margin-right: 30px;
  margin-bottom: -9px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 464px;
  list-style-type: none;
}

.navigation-item {
  height: 64px;
}

.navigation-icons {
  width: 312px;
  margin-left: 230px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  padding: 20px 16px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-icons .navigation-link {
  padding: 22px 12px;
}

.navigation-link-current {
  text-decoration-line: underline;
  text-underline-offset: 25px;
  text-decoration-color: #756257;
}

.count {
  position: absolute;
  top: 13px;
  left: 20px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 10px;
  padding: 5px;
  color: #FFF;
}

.navigation-favourites {
  position: relative;
}

.navigation-sign-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding-left: 21px;
}

.hero-index {
  position: relative;
  background-color: #4780a9;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0 82px 0;
}

.hero-index::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 57px;
  background-image: url("../images/hero-divider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.reasons {
  text-align: center;
  padding-top: 70px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 90px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.reasons-list-item {
  flex-basis: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 103px 85px;
}

.reasons-list-item-with-img {
  display: flex;
  justify-content: space-between;
  min-height: 384px;
}

.reason-item-wrapper {
  box-sizing: border-box;
  color: #FFF;
  background-color: #82B3D3;
  padding: 91px 85px;
}

.reasons-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.reasons-list-item h3 {
  padding: 0;
  margin: 0;
}

.reasons-list-item p {
  padding: 0;
  margin: 0;
}

.reasons-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.reason-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;;
  text-transform: uppercase;
  margin: 0;
}

.reason-item-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.reason-item-description::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
}

.reasons-list-item-img {
  min-height: 384px;
}

.reason-item-description {
  color: inherit;
}

.reasons-list-item-bg-transparent-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-list-item-bg-transparent-1 > .reason-item-description::before {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.reasons-list-item-bg-transparent-1 .reason-item-description {
  color: #333333;
}

.reasons-list-item-bg-transparent-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-list-item-bg-transparent-2 .reason-item-description {
  color: #333333;
}

.reasons-list-item-bg-transparent-2 > .reason-item-description::before {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.reasons-list-item-with-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 85px 81px 85px;
}

.reasons-list-item-with-icon .reason-item-title {
  order: 1;
}

.reasons-list-item-with-icon .reason-item-description {
  order: 2;
}

.reasons-list-item-with-icon .reason-item-description {
  color: #333333;
}

.reasons-list-item-with-icon > .reason-item-description::before {
  display: none;
}

.search-hotels {
  text-align: center;
  padding: 96px 0;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-hotels-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe {
  text-align: center;
  padding: 96px 0 104px 0;
}

.subscribe-bg {
  background-color: #4780a9;
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 684px;
  height: 52px;
  margin: 0 auto;
}

.subscribe-email {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  width: 452px;
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.with-bg {
  background-color: #F2F2F2;
}

.page-footer {
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  padding-top: 6px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

.footer-social-list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.footer-social {
  width: 142px;
}

.icon {
  fill: #83B3D3;
}

.footer-social-item:hover .icon,
.footer-social-item:focus .icon {
  fill: #68A2CA;
}

.footer-social-item:active .icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 335px;
  text-align: center;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: #756157;
}

.footer-contacts:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-about {
  width: 115px;
}

.contact-icon {
  fill: #000;
}

.footer-about:hover .contact-icon,
.footer-about:focus .contact-icon {
  fill: #756157;
}

.footer-about:active .contact-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.filter-wrapper {
  color: #FFFFFF;
  background-color: #4780a9;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 9px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
}

.breadcrumbs-item:first-child a:before {
  display: none;
}

.breadcrumbs-item a::before {
  content: "";
  padding-right: 14px;
  padding-left: 15px;
  color: #FFF;
  background-image: url("../images/icons/breadcrumbs-divider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.inner-header {
  margin-bottom: 40px;
}

.filter-wrapper {
  padding: 35px 70px 70px 70px;
}

.hotels-filter {
  display: flex;
  justify-content: space-between;
}

.check-wrapper {
  width: 370px;
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 70px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 549px;
}

.hotels-filter fieldset {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.hotels-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotel-infrastructure-group .hotels-filter-list,
.hotels-type-group .hotels-filter-list {
  display: grid;
  gap: 18px;
}

.checkbox-control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.checkbox-control:hover {
  opacity: 0.6;
}

.checkbox-input:focus + .checkbox-control-mark {
  outline: 3px solid #83B3D3;
}

.checkbox-input[type="checkbox"]:checked + .checkbox-control-mark {
  background-image: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: top 6px left 4px;
}

.checkbox-control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #FFF;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.radio-control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.radio-control:hover {
  opacity: 0.6;
}

.radio-input:focus + .radio-control-mark {
  outline: 3px solid #83B3D3;
}

.radio-input:active + .radio-control-mark {
  opacity: 0.3;
}

.radio-input[type="radio"]:checked + .radio-control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.radio-control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #FFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.hotels-price-group .hotels-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.price-inputs {
  display: grid;
  grid-template-columns: 143px 143px;
  grid-template-rows: 48px;
  margin-bottom: 44px;
  gap: 2px;
}

.field {
  font: inherit;
  padding: 12px 20px;
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.field:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.price-input-wrapper {
  position: relative;
}

.price-start {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  border-radius: 4px 0 0 4px;
  padding-right: 45px;
}

.price-end {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
  padding-right: 45px;
}

.price-label {
  position: absolute;
  right: 20px;
  top: 14px;
  width: 17px;
  height: 24px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result-catalog {
  padding: 50px 70px 60px;
}

.result-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-count {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.view-list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-list-item {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-list-item:hover,
.view-list-item:active {
  border: 2px solid #000000;
}

.view-list-item:focus {
  border: 2px solid #68A2CA;
}

.image-link {
  display: block;
  padding: 12px 14px;
}

.active-btn {
  border: 2px solid #000000;
}

.select-control {
  font: inherit;
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 20px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background: #FFFFFF;
  margin-right: 70px;
  background-image: url("../images/icons/select.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.hotels-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 0;
  padding-bottom: 39px;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-image {
  margin-bottom: 14px;
}

.hotel-card-item {
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 13px;
}

.hotel-description-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.hotel-cost {
  text-align: right;
}

.rating-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 37px;
  font-size: 16px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82B3D3;
  color: #FFF;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #68A2CA;
}

.pagination-item:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: inherit;
  min-width: 60px;
  min-height: 60px;
}

.pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #F2F2F2;
  min-width: 60px;
  min-height: 60px;
}

.pagination-current:hover,
.pagination-current:focus {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-current:active {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-skip {
  color: inherit;
  background-color: #FFF;
}

.pagination-skip:hover,
.pagination-skip:focus {
  background-color: #FFF;
}

.pagination-skip:active {
  color: inherit;
  background-color: #FFF;
}

/* Buttons */
.button {
  font-family: inherit;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

.brown-button {
  background-color: #756157;
}

.brown-button:hover,
.brown-button:focus {
  background: #615048;
}

.brown-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.dark-turquoise-button {
  background-color: #82B3D3;
}

.dark-turquoise-button:hover,
.dark-turquoise-button:focus {
  background-color: #68A2CA;
}

.dark-turquoise-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.transparent-button {
  background-color: transparent;
}

.transparent-button:hover {
  opacity: 0.6;
}
.transparent-button:focus {
  border: 3px solid #83B3D3;
}
.transparent-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.transparent-button:disabled {
  opacity: 0.1;
}

.green-button {
  padding: 8px 16px;
  background-color: #7DB54F;
}

.green-button:hover,
.green-button:focus {
  background-color: #6C9E42;
}

.green-button:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.sign-up-button {
  width: 160px;
  height: 36px;
}

.search-button {
  padding: 8px 50px;
  font-size: 20px;
  height: 52px;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  border-radius: 0 4px 4px 0;
}

.apply-button {
  padding: 8px 50px;
  margin-bottom: 31px;
}

.reset-button {
  padding: 8px 50px;
  border: 3px solid transparent;
}

.detail-button {
  display: block;
  padding: 8px 26px;
  text-decoration: none;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 65px 70px;
  background-color: #FFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 717px;
  box-sizing: border-box;
  min-height: 576px;
}

.modal-title {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  margin-bottom: 64px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 19px;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;
}

.search-form {
  display: grid;
  grid-template-columns: 100%;
  gap: 23px;
}

.field-group {
  position: relative;
  display: grid;
  grid-template-columns: 119px 1fr;
  gap: 4px 18px;
  align-items: center;
  margin: 0;
}

.form-search-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-transform: capitalize;
}

.search-form-field {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  line-height: 24px;
}

.calendar-icon {
  fill: #000;
  opacity: 0.3;
}

.modal-date-calendar-button {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: 21px;
  top: 15px;
  padding: 0;
}

.modal-date-calendar-button:hover .calendar-icon {
  opacity: 1;
}

.modal-date-calendar-button:focus {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}

.modal-date-calendar-button:active {
  opacity: 0.3;
}

.form-search-message {
  padding: 0 20px;
  grid-column: 2 / -1;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  align-self: flex-start;
}

.error {
  color: #FF5757;
}

.search-adults-children-wrapper {
  display: grid;
  grid-template-columns: 247px 242px;
  gap: 88px;
  margin-bottom: 28px;
}

.field-group-children {
  gap: 13px;
}

.search-adults-children-wrapper .search-form-field {
  width: 110px;
  box-sizing: border-box;
  padding-left: 50px;
  height: 48px;
}

.search-adults-children-wrapper .search-form-field::-webkit-outer-spin-button,
.search-adults-children-wrapper .search-form-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
  margin-left: 10px;
}

.tooltip-toggle {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-top: 4px;
}

.tooltip-icon {
  color: #FFF;
}

.tooltip-text {
  display: block;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  padding: 19px 18px 18px 22px;
  width: 256px;
  min-height: 143px;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: -115px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  transform: translateX(3px);
  left: 45%;
  top: -9px;
  width: 19px;
  height: 9px;
  background-image: url("../images/icons/tooltip-rectangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.adult-input-wrapper, .children-input-wrapper {
  position: relative;
}

.decrease-increase-button {
  border: none;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  background-color: #F2F2F2;
  cursor: pointer;
  padding: 0;
}

.decrease-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 0;
}

.increase-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 48px;
  position: absolute;
  right: 0;
  top: 0;
}

.decrease-icon {
  display: block;
  margin: auto;
  box-sizing: border-box;
  fill: rgba(117, 97, 87, 0.3);
}

.increase-icon {
  display: block;
  margin: auto;
  box-sizing: border-box;
  fill: rgba(117, 97, 87, 0.3);
}

.decrease-increase-button:hover .decrease-icon,
.decrease-increase-button:hover .increase-icon {
  fill: #000;
}

.decrease-increase-button:focus {
  outline: 3px solid #83B3D3;
}

.decrease-increase-button:focus .decrease-icon,
.decrease-increase-button:focus .increase-icon {
  fill: #000;
}

.decrease-increase-button:active .decrease-icon,
.decrease-increase-button:active .increase-icon {
  fill: #000;
  opacity: 0.2;
}

.modal-search-button {
  padding: 18px 78px;
  border-radius: 10px;
  font-size: 20px;
  height: 60px;
}
