@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.logo {
  width: 140px;
  margin-right: 44px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 464px;
}

.navigation-icons {
  min-width: 312px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.hero-index {
  background-color: #a8d5f5;
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.divider {
  background-image: url("../images/hero-divider.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 57px;
}

.reasons {
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons-list-item {
  flex-basis: 400px;
}

.reasons-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.reasons-description {
  font-size: 22px;
  line-height: 26px;
}

.reason-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;;
  text-transform: uppercase;
}

.reason-item-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.reasons-list-item-blue {
  color: #FFF;
  background-color: #82B3D3;
}

.reason-item-description {
  color: inherit;
}

.reasons-list-item-bg-transparent-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-list-item-bg-transparent-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.housing {
  background-image: url("../images/icons/housing.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.food {
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.souvenir {
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.search-hotels {
  text-align: center;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotels-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  text-align: center;
  height: 415px;
}

.subscribe-bg {
  background-color: #9ca8aa;
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.page-footer {
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

.footer-social {
  width: 142px;
}

.footer-contacts {
  width: 335px;
  text-align: center;
}

.footer-about {
  width: 115px;
}

.filter-wrapper {
  color: #FFFFFF;
  background-color: #9ca8aa;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  margin: 0;
}

.breadcrumbs-item {
  font-size: 16px;
}

.filter-wrapper {
  padding: 35px 70px 70px 70px;
}

.hotels-filter {
  display: flex;
}

.hotels-filter fieldset {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.result-catalog {
  padding: 57px 70px 56px 70px;
}

.result-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-count {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 200px;
}

.select-control {
  width: 292px;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.detail-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #756157;
}

.favourites-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.rating-value {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-item {
  background-color: #82B3D3;
  color: #FFF;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-skip {
  color: inherit;
  background-color: #FFF;
}
