@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.page-header {
  min-height: 64px;
  z-index: 1;
}

.welcome-figure {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
  margin-top: -13px;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.logo {
  width: 140px;
  margin-right: 44px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 464px;
  list-style-type: none;
}

.navigation-item {
  height: 64px;
}

.navigation-icons {
  width: 312px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  padding: 20px 16px;
}

.navigation-icons .navigation-link {
  padding: 22px 12px;
}

.navigation-link-current {
  text-decoration-line: underline;
  text-underline-offset: 25px;
  text-decoration-color: #756257;
}

.count {
  position: absolute;
  top: 13px;
  left: 20px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 10px;
  padding: 5px;
  color: #FFF;
}

.navigation-favourites {
  position: relative;
}

.navigation-want-button {
  padding-top: 14px;
  padding-left: 20px;
}

.want-button {
  font-family: inherit;
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.want-button:hover,
.want-button:focus {
  background: #615048;
}

.want-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}


.hero-index {
  position: relative;
  background-color: #4780a9;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 371px 82px 371px;
}

.hero-index::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 57px;
  background-image: url("../images/hero-divider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.reasons {
  text-align: center;
  padding-top: 70px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 90px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.reasons-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 400px;
  min-height: 384px;
  box-sizing: border-box;
}

.reasons-list-item-with-img {
  display: flex;
  justify-content: space-between;
  min-height: 384px;
}

.reason-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #FFF;
  background-color: #82B3D3;
  padding-left: 85px;
  padding-right: 85px;
}

.reasons-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.reasons-list-item h3 {
  padding: 0;
  margin: 0;
}

.reasons-list-item p {
  padding: 0;
  margin: 0;
}

.list-item-content-divider {
  width: 60px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
}

.reasons-description {
  font-size: 22px;
  line-height: 26px;
}

.reason-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;;
  text-transform: uppercase;
}

.reason-item-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.reasons-list-item-img {
  min-height: 384px;
}

.reasons-list-item-blue {
  color: #FFF;
  background-color: #82B3D3;
  padding: 92px 85px 111px 85px;
}

.reason-item-description {
  color: inherit;
}

.reasons-list-item-bg-transparent-1 {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 121px 85px;

}

.reasons-list-item-bg-transparent-1 .reason-item-description {
  color: #333333;
}

.reasons-list-item-bg-transparent-1 .list-item-content-divider {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.reasons-list-item-bg-transparent-2 {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 103px 85px 121px 85px;
}

.reasons-list-item-bg-transparent-2 .reason-item-description {
  color: #333333;
}

.reasons-list-item-bg-transparent-2 .list-item-content-divider {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.reasons-list-item-with-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 85px 81px 85px;
}

.reasons-list-item-with-icon .reason-item-title {
  order: 1;
}

.reasons-list-item-with-icon .reason-item-description {
  order: 2;
}

.reasons-list-item-with-icon .reason-item-description {
  color: #333333;
}

.search-hotels {
  text-align: center;
  padding: 96px 304px;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotels-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 0;
}

.search-hotels-button {
  font-family: inherit;
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-top: 54px;
}

.search-hotels-button:hover,
.search-hotels-button:focus {
  background: #615048;
}

.search-hotels-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe {
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-bg {
  background-color: #9ca8aa;
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 684px;
  height: 52px;
}

.subscribe-email {
  width: 452px;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscribe-form-button {
  width: 232px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: none;

}

.subscribe-form-button:hover,
.subscribe-form-button:focus {
  background-color: #68A2CA;
}

.subscribe-form-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.with-bg {
  background-color: #F2F2F2;
}


.page-footer {
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 27px;

}

.footer-social {
  width: 142px;
}

.icon {
  fill: #83B3D3;
}

.footer-social-item a:hover > .icon,
.footer-social-item a:focus > .icon {
  fill: #68A2CA;
}

.footer-social-item a:active  > .icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 335px;
  text-align: center;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: #756157;
}

.footer-contacts:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-about {
  width: 115px;
}

.contact-icon {
  fill: #000;
}

.footer-about a:hover > .contact-icon,
.footer-about a:focus > .contact-icon {
  fill: #756157;
}

.footer-about a:active > .contact-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.filter-wrapper {
  color: #FFFFFF;
  background-color: #9ca8aa;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 46px;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
}

.breadcrumbs-item:first-child a:before {
  content: "";
}

.breadcrumbs-item a::before {
  float: left;
  padding-right: 10px;
  color: #FFF;
  content: ">";
}

.filter-wrapper {
  padding: 35px 70px 70px 70px;
}

.hotels-filter {
  display: flex;
}

.hotels-filter fieldset {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.apply-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
}

.apply-button:hover,
.apply-button:focus {
  background-color: #68A2CA;
}

.apply-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
}

.reset-button:hover {
  opacity: 0.6;
}
.reset-button:focus {
  border: 3px solid #83B3D3;
}
.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  opacity: 0.1;
}

.result-catalog {
  padding: 57px 70px 56px 70px;
}

.result-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-count {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 200px;
}

.view-list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-list-item {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-list-item:hover,
.view-list-item:active {
  border: 2px solid #000000;
}

.view-list-item:focus {
  border: 2px solid #68A2CA;
}

.image-link {
  display: block;
  padding: 12px 14px;
}

.active-btn {
  border: 2px solid #000000;
}

.select-control {
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  min-height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background: #FFFFFF;
  margin-right: 70px;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.hotels-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  list-style-type: none;
}

.hotel-image {
  margin-bottom: 16px;
}

.hotel-card-item {
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-description-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.hotel-cost {
  text-align: right;
}

.detail-link {
  display: block;
  text-align: center;
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #756157;
  border-radius: 4px;
}

.detail-link:hover,
.detail-link:focus {
  background: #615048;
}

.detail-link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.favourites-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
}

.favourites-button:hover,
.favourites-button:focus {
  background-color: #68A2CA;
}

.favourites-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.green {
  padding: 8px 16px;
  background-color: #7DB54F;
}

.green:hover,
.green:focus {
  background-color: #6C9E42;
}

.green:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.rating-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 37px;
  font-size: 16px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.cards-pagination-divider {
  margin-bottom: 40px;
  border: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82B3D3;
  color: #FFF;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #68A2CA;
}

.pagination-item:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: inherit;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-current:hover,
.pagination-current:focus {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-current:active {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-skip {
  color: inherit;
  background-color: #FFF;
}

.pagination-skip:hover,
.pagination-skip:focus {
  background-color: #FFF;
}

.pagination-skip:active {
  color: inherit;
  background-color: #FFF;
}
